---
const { id = "resume-container", className = "resume"} = Astro.props
import json from "../../assests/BillWallbaum.json"
 const { about, education, work_history, skills, certifications } = json;
---

<section id={id} class={className}>
    <h2>Bill's CV</h2>

    <div id="work-history"  class="card">
      <h3>Work History</h3>
      {work_history.map((job, index) => (
        <div class="job">
          <img class="job-logo" src={job.employer.logo} alt={job.employer.logo}>
          <div id="title">
            <h4 class="job-employer">{job.employer.name}</h4>

            <ul class="job-positions"> 
              {job.job_title.map((key) => (
                <li class="job-position">
                  {key}
                </li>
              ))}
            </ul>
          </div>

          <div class="info">
            <p>Employment Type: {job.employment_type}</p>
            <p>{job.start_date}</p>
            <p>End Date: {job.end_date}</p>
            <p>Duration: {job.duration}</p>
            <p>Location: {job.location}</p>
          </div>
        </div>
      ))}
    </div>

    <div id="education" class="card">
      <h3>Education</h3>
    </div>
    
    <div id="skills" class="card">
      <h3>Skills</h3>
    </div>
    <slot/>
</section>

<style lang="scss">
  .resume {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    gap: var(--global-s2);
    background-color: var(--byzantium);
    padding: var(--global-s2) var(--global-s4) var(--global-s4);
    color: var(--primary-text-color);

    & h2 {
      color: var(--primary-text-color);
      width:100%;
      padding:0;
      font-size: 3rem;
      text-transform: uppercase;
    }
  }
  #work-history {
    display: grid;
    gap: var(--global-s1);
  }
  .job {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "image info";
    background-color: var(--black-4);
    align-items: center;
    gap: var(--global-s1);
    padding: var(--global-s1);
    border-radius: var(--global-radius);
  }
  #title{    
    grid-area: info;
  }
  .job-employer {
    margin: 0;
    padding: 0;
  }
  .job-positions {
    display: flex;
    flex-direction: row;
    gap: var(--global-s1);
    padding: 0;
    margin: 5px 0;
  }
  .job-position {
    display: flex;
  }
  .job-logo {
    grid-area: image;
    max-width:75px;
    filter: drop-shadow(var(--global-shadow));
    fill: var(--primary-color);
  }
  .info {
    display:none
  }
</style>