---
import TwoPanelLeft from "@layouts/sections/TwoPanel.astro";
import toggleVisibility from "@assets/toggleVisibility.astro"
const { sectId="resume-container", pannelClass = [], colOneClass = [], colTwoClass = [], title = "Section Title"} = Astro.props
const sectionClasses = [...pannelClass];
const colOneClasses = [...colOneClass];
const colTwoClasses = [...colTwoClass];

// resume information
import json from "../../assests/BillWallbaum.json";
const { about, education, work_history, skills, certifications } = json;

---

<TwoPanelLeft sectId={sectId} sectionClass={sectionClasses} colOneClass = {colOneClasses} colTwoClass={colTwoClasses}>
    <div class="section-header" slot="intro">
      <h2>{title}</h2>
    <slot/>
    </div>
    
    <!-- Work History -->
    <div slot="left-col" id="jobs-label" class="card" onclick="toggleVisibility('jobs-info', ['skills-info', 'schools-info'])">
      <h3>Work History</h3>
    </div>

    <div slot="right-col" id="jobs-info" class="card" style="display: grid;">
      {work_history.map((job, index) => (
        <div class="job info-card">
          
          <img class="logo" src={job.employer.logo} alt={job.employer.logo}>

          <div id="title">
            <h4 class="job-employer">
              {job.employer.name}
            </h4>

            <ul class="job-positions"> 
              {job.job_title.map((key) => (
                <li class="job-position">
                  {key}
                </li>
              ))}
            </ul>
          </div>

          <div class="info">
            <p>Employment Type: {job.employment_type}</p>
            <p>{job.start_date}</p>
            <p>End Date: {job.end_date}</p>
            <p>Duration: {job.duration}</p>
            <p>Location: {job.location}</p>
          </div>
        </div>
      ))}
      
    </div>
    
    // Education
    <div slot="left-col" id="schools-label" class="card" onclick="toggleVisibility('schools-info', ['jobs-info', 'skills-info'])">
      <h3>Education</h3>
    </div>

    <div slot="right-col" id="schools-info" class="card">
      {education.map((school, index) => (

        <div id={school.institution} class="school card info-card">
          
          <img class="logo" src="" alt="">
          <div>
            <h4 class="institution-name">{school.institution}</h4>
            <p>{school.area} · {school.studyType}</p>
          </div>
        </div>

      ))}
    </div>
    
    // Skills
    <div slot="left-col" id="skills-label" class="card" onclick="toggleVisibility('skills-info', ['jobs-info', 'schools-info'])">
      <h3>Skills</h3>
    </div>

    <div slot="right-col" id="skills-info" class="card">
      <ul class="skills info-card">
      {skills.map((skill) => (
        <li id={skill} class="skill">
          {skill}
        </li>
      ))}
            </ul>
  </div>
</TwoPanelLeft>


<style lang="scss">
  .section-header{
    
  }
  .info-card {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "image info";
    align-items: center;
    background-color: var(--primary-text-color);
    color: var(--white-5);

    & div {
      grid-area: info;
    }
  }
  #work-history {
    display: grid;
    gap: var(--global-s1);
  }
  #jobs-info {
    gap:var(--global-s1);
  }
  .job {
    gap: var(--global-s1);
    padding: var(--global-s1);
    border-radius: var(--global-radius);
  }
  #title{    
    grid-area: info;
  }
  .job-employer {
    margin: 0;
    padding: 0;
  }
  .job-positions {
    display: flex;
    flex-direction: row;
    gap: var(--global-s1);
    padding: 0;
    margin: 5px 0;
  }
  .job-position {
    display: flex;
  }
  .logo {
    grid-area: image;
    padding: var(--global-s1);
    filter: drop-shadow(var(--global-shadow));
    fill: var(--primary-color);
  }
  #schools {
    display: grid;
    gap:  var(--global-s1);
  }
  .info {
    display:none


  }

  #jobs-info, #schools-info, #skills-info {
    display:none;
  }
</style>