---
import TwoPanelLeft from "@layouts/sections/TwoPanel.astro";
import { Icon } from 'astro-icon';
const { sectId="resume-container", pannelClass = [], colOneClass = [], colTwoClass = [], title = "Section Title"} = Astro.props
const sectionClasses = [...pannelClass];
const colOneClasses = [...colOneClass];
const colTwoClasses = [...colTwoClass];

// resume information
import json from "../../assests/BillWallbaum.json";
const { about, education, work_history, skills, certifications } = json;


---

<TwoPanelLeft sectId={sectId} sectionClass={sectionClasses} colOneClass = {colOneClasses} colTwoClass={colTwoClasses}>

    <div class="section-header" slot="intro">
      <h2>{title}</h2>
    <slot/>
    </div>
    
    <!-- Work History -->
    <div slot="left-col" id="jobs-label" class="card">
      <h3>Work History</h3>
    </div>

    <div slot="right-col" id="jobs-info" class="card fade">
      {work_history.map((job, index) => (
        <div class="job info-card">
          
          <Icon class="logo" name={job.employer.logo.name} alt={job.employer.logo.alt}/>

          <div id="job-title">
            <h4 class="job-employer">
              {job.employer.name}
            </h4>

            <ul class="job-positions"> 
              {job.job_title.map((key) => (
                <li class="job-position">
                  {key}
                </li>
              ))}
            </ul>
          </div>

          <div class="job-info">
            <p>Employment Type: {job.employment_type}</p>
            <p>{job.start_date}</p>
            <p>End Date: {job.end_date}</p>
            <p>Duration: {job.duration}</p>
            <p>Location: {job.location}</p>
          </div>
        </div>
      ))}
      
    </div>
    
    // Education
    <div slot="left-col" id="schools-label" class="card">
      <h3>Education</h3>
      {education.map((school)=> (
          <a class="icon-link">
            <Icon class="logo" name={school.logo.name} alt={school.logo.alt}/>
          </a>
        ))}
    </div>

    <div slot="right-col" id="schools-info" class="card fade">
      {education.map((school, index) => (

        <div id={school.institution} class="school card info-card">
          
          <Icon class="logo" name={school.logo.name} alt={school.logo.alt}/>
          <div>
            <h4 class="institution-name">{school.institution}</h4>
            <p>{school.area} · {school.studyType}</p>
          </div>
        </div>

      ))}
    </div>
    
    // Skills
    <div slot="left-col" id="skills-label" class="card">
      <h3>Skills</h3>
    </div>

    <div slot="right-col" id="skills-info" class="card fade">
      <ul class="skills">
      {skills.map((skill) => (
        <li id={skill} class="skill">
          {skill}
        </li>
      ))}
            </ul>
  </div>
</TwoPanelLeft>

<script>
  import { toggleVisibility } from "src/scripts/toggleVisibility";
  toggleVisibility();
</script>


<style lang="scss">
  .show {
    opacity: 1 !important; /* Set initial opacity to 0 */
    display: grid !important;
    transition: opacity 0.5s; /* Add transition property for opacity */
    animation: fadeIn 0.5s; /* Add animation for fade-in effect */
  }

  .info-card {
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "image info";
    align-items: center;
    background-color: var(--primary-text-color);
    color: var(--white-5);

    & div {
      grid-area: info;
    }
  }

  #work-history {
    display: grid;
    gap: var(--global-s1);
  }

  #jobs-label {
    display: grid;
  }

  #jobs-info {
    gap: var(--global-s1);
  }

  .job {
    display: grid;
    gap: var(--global-s1);
    padding: var(--global-s1);
    border-radius: var(--global-radius);
  }

  #title {
    grid-area: info;
  }

  .job-employer {
    margin: 0;
    padding: 0;
  }

  .job-positions {
    display: flex;
    flex-direction: row;
    gap: var(--global-s1);
    padding: 0;
    margin: 5px 0;
  }

  .job-position {
    display: flex;
  }

   [astro-icon] {
    grid-area: image;
    filter: drop-shadow(var(--global-shadow));
    fill:  var(--white-5); /* Specify the fill color here */
  }

  #schools-info {
    gap: var(--global-s1);
  }

  .job-info {
    display: none;
  }

  .fade {
    opacity: 0; /* Set initial opacity to 0 */
    display: none;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

</style>