---
import TwoPanelLeft from "@layouts/sections/TwoPanel.astro";
import { Icon } from 'astro-icon';
const { sectId="resume-container", pannelClass = [], colOneClass = [], colTwoClass = [], title = "Section Title"} = Astro.props
const sectionClasses = [...pannelClass];
const colOneClasses = [...colOneClass];
const colTwoClasses = [...colTwoClass];

// resume information
import json from "../../assests/BillWallbaum.json";
const { about, education, work_history, skills, certifications } = json;
---

<TwoPanelLeft sectId={sectId} sectionClass={sectionClasses} colOneClass = {colOneClasses} colTwoClass={colTwoClasses}>

    <div class="section-header" slot="intro">
      <h2>{title}</h2>
    <slot/>
    </div>
    
    <!-- Work History -->
    <div slot="left-col" id="jobs-label" class="card" data-set="work-history">
      <h3>Work History</h3>
        <div class="icon-links">
          {work_history.map((job)=> (
            <span id={`${job.id}-label-link`} class="icon-link" title={job.employer.name} data-set={job.id}>
              <Icon class="logo" name={job.employer.logo.name} alt={job.employer.logo.alt}/>
            </span>
          ))}
        </div>
    </div>

    <div slot="right-col" id="jobs-info" class="card fade" data-set="work-history">
      {work_history.map((job, index) => (
        <div id={`${job.id}-title`} class="job title-card fade" data-set={job.id}>
            <span id={`${job.id}-title-link`} class="icon-link" title={job.employer.name} data-set={job.id}>
              <Icon class="logo" name={job.employer.logo.name} alt={job.employer.logo.alt}/>
            </span>

          <div id="job-title" class="job">
            <h4 class="job-employer">
              {job.employer.name}
            </h4>

            <ul class="job-positions"> 
              {job.job_title.map((key) => (
                <li class="job-position">
                  {key}
                </li>
              ))}
            </ul>
          </div>
        </div>

        <div id={`${job.id}-info`} class="job info-card fade" data-set={job.id}>
          <p>{job.employment_type} | {job.start_date} - {job.end_date} | {job.duration}</p>
          <p><small>{job.location}</small></p>

          <ul class="job-duties"> 
            {job.responsibilities.map((duty) => (
              <li class="job-responsibilities">
                {duty}
              </li>
            ))}
          </ul>
        </div>
      ))}      
    </div>
    
    // Education
    <div slot="left-col" id="schools-label" class="card" data-set="education">
      <h3>Education</h3>
        <div class="icon-links">
          {education.map((school)=> (
            <span id={`${school.id}-link`} class="icon-link" title={school.institution}>
              <Icon class="logo" name={school.logo.name} alt={school.logo.alt}/>
            </span>
          ))}
        </div>
    </div>

    <div slot="right-col" id="schools-info" class="card fade" data-set="education">
      {education.map((school, index) => (

        <div id={`${school.id}-card`} class="school card title-card fade">
          <span id={`${school.id}-link`} class="icon-link" title={school.institution}>
            <Icon class="logo" name={school.logo.name} alt={school.logo.alt}/>
          </span>
          <div id={`${school.id}-info`}>
            <h4 class="institution-name">{school.institution}</h4>
            <p>{school.area} · {school.studyType}</p>
          </div>
        </div>

      ))}
    </div>
    
    // Skills
    <div slot="left-col" id="skills-label" class="card" data-set="skills">
      <h3>Skills</h3>
    </div>

    <div slot="right-col" id="skills-info" class="card fade" data-set="skills">
      <ul class="skills">
      {skills.map((category) => (
        <li id={category} class="skill">
          {category}
        </li>
      ))}
            </ul>
            
  </div>
</TwoPanelLeft>

<script>
  import { toggleVisibility } from "src/scripts/toggleVisibility";
  toggleVisibility();
</script>


<style lang="scss">
  [id$="-label"] {
    padding: var(--global-s1);
  }
  .show {
    opacity: 1 !important; /* Set initial opacity to 0 */
    display: grid !important;
    transition: opacity 0.5s; /* Add transition property for opacity */
    animation: fadeIn 0.5s; /* Add animation for fade-in effect */
  }

  .title-card {
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "image info";
    align-items: center;
    background-color: var(--primary-text-color);
    color: var(--white-5);

    & div {
      grid-area: info;
    }
  }
  .icon-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
    gap: calc(var(--global-s1)*.5);
  }

  #work-history {
    display: grid;
    gap: var(--global-s1);
  }

  #jobs-info {
    gap: var(--global-s1);
  }

  .job {
    display: grid;
    gap: var(--global-s1);
    padding: var(--global-s1);
    border-radius: var(--global-radius);
  }

  #title {
    grid-area: info;
  }

  .job-employer {
    margin: 0;
    padding: 0;
  }

  .job-positions {
    display: flex;
    flex-direction: row;
    gap: var(--global-s1);
    padding: 0;
    margin: 5px 0;
  }

  .job-position {
    display: flex;
  }

   [astro-icon] {
    grid-area: image;
    filter: drop-shadow(var(--global-shadow));
    fill:  var(--white-5); /* Specify the fill color here */
  }

  #schools-info {
    gap: var(--global-s1);
  }

  .info-card {
    display: none;
    gap: 0;
    p {
      margin-block-start: 0;
      margin-block-end: 0;
    }
  }

  .fade {
    opacity: 0; /* Set initial opacity to 0 */
    display: none;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

</style>