---
import "@styles/components/TwoPanel.scss"
import Column from "@components/Column.astro";
import PageSection from "@components/PageSection.astro";
const { sectId, sectionClass = [], colOneClass = [], colOneId = "left-container", colTwoClass = [], colTwoId = "right-container", headerClasses = [] } = Astro.props
const sectionClasses = [...sectionClass];
const colOneClasses = [...colOneClass, "col-1"];
const colTwoClasses = [...colTwoClass, "col-2"];
const headerClass = [...headerClasses, "section-header"];
const header = sectId + "-header";
---

<PageSection sectId={sectId} sectionClasses={sectionClasses}>
  
    <div id={header} class={headerClass}>
      <slot name="intro"/>
    </div>
    <Column id={colOneId} colClass={colOneClasses}>
      <slot name="left-col"/>
    </Column>
    <Column id={colTwoId} colClass={colTwoClasses}>
      <slot name="right-col"/>
    </Column></PageSection>