---
const { frontmatter, mainClass } = Astro.props;
const { title, description, image, pubDate, author } = frontmatter;
---

<article id={title} class="">
  <h1>{title}</h1>
  <p><em>{description}</em></p>
  <img src={image.url} width="300" alt={image.alt} />
  <slot />
  <p>Written by: {author} on {pubDate.slice(0, 10)}</p>
</article>